<h1>ABOUT</h1>

<h4 class="w3-padding-top">
    This resource was initially developed during the running of
    <a href="https://ncelp.org/" class="w3-text-orange">The National Centre for Excellence for Language Pedagogy
        (NCELP)</a>, which was funded by the
    <a href="https://www.education.gov.uk/" class="w3-text-orange">Department for Education (DfE)</a>,
    <a href="https://www.ukri.org/councils/research-england/" class="w3-text-orange">Research England</a>,
    and the University of York. It is led by
    <a href="https://www.york.ac.uk/" class="w3-text-orange">The University of York</a>.
</h4>

<h4 class="w3-padding-top">
    This tool is free to use for non-commercial purposes (e.g., individual
    teaching and research).
</h4>

<h2>Research Team</h2>
<h4>
    <p>Current Research Team for MultilingProfiler:</p>
    <ul>
        <li>
            Dr Natalie Finlayson (University of York)
        </li>
        <li>
            Prof Emma Marsden (University of York)
        </li>
        <li>
            Prof Laurence Anthony (Waseda University)
        </li>
    </ul>

    <h2>Citing MultilingProfiler</h2>
    <h4>
        <p>Current Reference for MultilingProfiler:</p>
        <ul>
            <li>
                Finlayson, N., Marsden, E., & Anthony, L. (2022). MultilingProfiler
                (Version 3) [Computer software]. University of York. Accessed XXX at
                https://www.multilingprofiler.net/
            </li>
        </ul>
        <p class="w3-padding-top">Previous References:</p>
        <ul>
            <li>
                Finlayson, N., Marsden, E., Anthony, L., Bovolenta, G., & Hawkes, R.
                (2021). MultilingProfiler (Version 2) [Computer software].
                University of York. Accessed XXX at
                https://www.multilingprofiler.net/
            </li>

            <li>
                Finlayson, N., Marsden, E., Anthony, L., Hawkes, R. & Avery, N.
                (2020). MultilingProfiler (Version 1) [Computer software].
                University of York. Accessed XXX at
                https://www.multilingprofiler.net/
            </li>
        </ul>
    </h4>

    <h2>Acknowledgments</h2>

    <h4>
        We would like to thank the following members of the NCELP team (past and
        present) at the University of York for their contributions:
        <ul>
            <li>
                Inge Alferink, Nick Avery, Louise Bibbey, Giulia Bovolenta, Louise
                Caruso, Emily Cutts, Rachel Hawkes, Amanda Izquierdo, Heike
                Krüsemann, Catherine Morris, Ciarán Morris, Charlotte Moss, Stephen
                Owen, Jack Peacock, Catherine Salkeld, Lauren Smith, Peter Watson.
            </li>
        </ul>
    </h4>

    <h2>Terms of Use</h2>

    <h4>

        To the extent permitted by law, the University provides the Tool and its contents on an "as is" basis and makes
        no
        representation or warranty of any kind regarding the Tool or any information, content, products or services on
        it.
        The University does not represent or warrant that the information accessible via the Tool is accurate, complete
        or
        current. In no circumstances, to the extent permitted by law, shall the University or any of its officers or
        employees be liable for any loss, additional costs or damage (howsoever arising) suffered as a result of any use
        of
        the Tool or its contents.
    </h4>