<h1>CONTACT</h1>

<!-- <h4>
        <h4 class="w3-padding-top"><span style="font-weight: bold">General enquiries:</span><br />
        Contact <a href="mailto:enquiries@ncelp.org" class="w3-text-orange">enquiries@ncelp.org</a> or call us on 01904 328159.
    </h4>

    <h4 class="w3-padding-top"><span style="font-weight: bold">Postal address:</span><br />
        National Centre for Excellence for Language Pedagogy (NCELP), Department of Education, University of York, York, YO10 5DD, UK.
    </h4> -->

<h4 class="w3-padding-top"><span style="font-weight: bold">Something missing?:</span><br />
    MultilingProfiler is a new and unique resource, and the process of updating it through the addition of missing or
    new words as flagged by users is ongoing. If you spot something that isn't working as it you think it should (for
    example, a word that stays orange when you think it should go black) please send the missing words and details of
    the list type you are using to create the profile to:
    <a href="mailto:natalie.finlayson@york.ac.uk" class="w3-text-orange">natalie.finlayson@york.ac.uk</a>.
</h4>

</div>