<p class="copyright">
    <!-- This resource is free to use for non-commercial purposes (e.g., individual teaching and research). Any data derived from using this tool and the information
    on the site is held under a CC BY-NC-SA licence. The code underpinning the tool is &copy; University of York. -->
    This resource is free to use for non-commercial purposes (e.g., individual teaching and research). By clicking
    'Profile Text' in the MultilingProfiler tool,
    you agree that you are not using this for commercial purposes, unless you have agreed this with us. If you are
    interested in using the profiler for
    commercial purposes (e.g., textbook creation, test development) or would like to work with us to
    add bespoke word lists, please contact: <a class="w3-text-orange"
        href="mailto:natalie.finlayson@york.ac.uk>">natalie.finlayson@york.ac.uk</a>. Any data derived from using
    this tool and the information on the site is held under a CC BY-NC-SA licence. The code underpinning the tool is
    &copy; University of York.
</p>