<body>
    <h1>Home of MultilingProfiler</h1>

    <h4 class="w3-padding-top w3-padding-bottom">
        MultilingProfiler creates vocabulary profiles of
        <span style="font-weight: bold">French</span>,
        <span style="font-weight: bold">German</span> and
        <span style="font-weight: bold">Spanish</span> texts to help users
        assess the suitability of written texts and listening transcripts for
        target learner groups. Click on the
        <a href="#" class="w3-text-orange multilingProfilerToolLink">MultilingProfiler</a>
        tab or press the button below to try the tool.
    </h4>

    <div class="w3-center w3-padding">
        <!-- <img src="images/ncelp-logo-1-01.png" alt="logo" style="width: 150%; max-width: 150px" /> -->
        <img src="images/mlp_logo.png" alt="logo" style="width: 150%; max-width: 150px" />
    </div>

    <div class="w3-container w3-text-orange">
        <div class="w3-center">
            <p class="w3-button w3-orange multilingProfilerToolLink">
                Try MultilingProfiler Here
            </p>
        </div>
    </div>

    <!--
    <h4>
        MultilingProfiler answers questions like:<br />
        <ul>
            <li>
                What percentage of the words in this text are on my word list?
            </li>
            <li>
                Does this text contain any words with which learners will need
                support?
            </li>
            <li>
                How many of the words in this text have students learned so far?
            </li>
            <li>
                What are the most frequent words and word families in my text?
            </li>
        </ul>
    </h4>
    -->

    <h4 class="w3-padding-top">
        MultilingProfiler generates
        <span style="font-weight: bold">text profiles</span> and
        <span style="font-weight: bold">statistical data</span> using four list
        types (see <a href="https://ncelp.org/resources/multilingprofiler/" target="_blank"
            class="w3-text-orange">here</a> for more information).<br />
        <ol>
            <li>
                <span style="font-weight: bold">Customisable word frequency lists.
                </span>
                <!--Users can see how many of the words in their text are part of
                the 1000, 2000, 3000, 4000 or 5000 most frequent words in the
                language. The
                <a id="dictionaryToolLink" href="#" class="w3-text-orange"
                    >word families</a
                >
                tab gives more information about the words in these frequency
                bands. Users can customise word frequency lists by adding words
                and deselecting grammatical paradigms.
                -->
            </li>
            <li>
                <span style="font-weight: bold">Word lists aligning with the new GCSE.
                </span>
                <!--Users can profile texts according to the specifications of
                certain accredited programs.-->
            </li>

            <li>
                <span style="font-weight: bold">Cumulative weekly word lists aligned with the NCELP schemes
                    of work.</span>
                <!--The number of words in each word family that are counted as 'on
                the list' grows as more grammar is introduced and more members
                of a word become recognisable for these beginner learners (e.g.,
                1st person singular present forms are 'on the list' before 1st
                person plural forms).-->
                <!-- Teachers adopting the NCELP Scheme of Work might be interested to know how suitable a text is for 
                 inclusion in a particular week. Using special wordlists which are compatible with the Schemes of Work, 
                 MultilingProfiler can perform bespoke lexical profiling for NCELP-based syllabi.  -->
            </li>
            <li>
                <span style="font-weight: bold">Custom lists.</span>
                <!-- Users can
                create their own custom list and profile texts against that.-->
            </li>
        </ol>
    </h4>
    <h4>
        MultilingProfiler allows users to
        <span style="font-weight: bold">directly edit texts</span> in the
        profiler window and immediately
        <span style="font-weight: bold">profile</span> their adapted texts.
    </h4>
    <!-- <p class="w3-padding">For more information <span class="click_links showAbout w3-w3-text-orange">click here</span>.</p> -->

    <p class="w3-padding-top">
        <!-- This resource is free to use for non-commercial purposes (e.g., individual teaching and research). By clicking 'Profile Text' in the MultilingProfiler tool,
        you agree that you are not using this for commercial purposes, unless you have agreed this with NCELP. If you are interested in using the profiler for
        commercial purposes (e.g., textbook creation, test development) or would like to work with <a class="w3-text-orange" href="https://ncelp.org/">NCELP</a> to
        add bespoke word lists, please contact: <a class="w3-text-orange" href="mailto:enquiries@ncelp.org>">enquiries@ncelp.org</a>. -->
        <!-- By clicking 'Profile Text' in the MultilingProfiler tool, you agree that
        you are not using the tool for commercial purposes, unless you have
        agreed this with us.  -->
        By clicking 'Profile Text' in the MultilingProfiler tool, you agree to the Terms of Use as laid out on the
        page <a href="#" class="w3-text-orange aboutToolLink">About</a>, and you agree that you are not
        using the tool for commercial purposes, unless you have
        agreed this with us.
        If you are interested in using the profiler for
        commercial purposes (e.g., textbook creation, test development) or would
        like to work with us to
        add bespoke word lists, please contact: <a class="w3-text-orange"
            href="mailto:natalie.finlayson@york.ac.uk>">natalie.finlayson@york.ac.uk</a>.
    </p>
    <p class="w3-padding-bottom"></p>
</body>